h1 {
  font-weight: bold;
  font-size: 3em;
}

.vertical {
  display: flex;
  align-items: center;
}
.container {
  /* margin-top: 50px; */
  margin-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img-responsive {
  display: block;
  float: left;
  width: auto;
  height: auto;
}
.danger1 {
  padding: 7px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: black;
  color: #fcd132 !important;
}
.danger3 {
  margin-left: 10px;
  background-color: #fcd132;
  color: black !important;
}
