.danger2 {
  padding: 0px 33px;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: black;
  color: white;
  font-size: 17px;
  height: 30px;
}
.colorfa {
  color: #fcd132;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
