.img-right {
  height: 350px;
  display: block;
  float: left;
  width: 360px;
}
.img-bottom-right {
  width: auto;
  margin-top: 2rem;
}
.img-bottom-left {
  width: auto;
  margin-top: 2rem;
}
.img-left {
  height: 220px;
  width: 360px;
}
