.font-weight-bold {
  font-weight: bold;
  font-size: large;
}

.text-align-right {
  text-align: right;
  font-size: 30px;
  float: right;
}

.card-body {
  padding: 2rem;
}
.padding-bottom {
  padding-bottom: 1rem;
}
.card-title {
  margin-top: 240px;
}
.icon {
  position: absolute;
  bottom: 0rem;
  right: 1rem;
}
.icon a {
  color: black;
  text-decoration: none;
}
.border:hover {
  border: 1px solid gray;
  background-color: lightsteelblue;
  transform: scale(1.1);
}
