.bg-image {
  background-image: url(./IMG_7397.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.top h1 {
  color: white;
  font-size: 3em;
}

.top {
  padding-top: 236.5px;
  padding-bottom: 236.5px;
  text-align: center;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 45px;
}
