.menu {
  padding: 15px 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter";
}
img {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}
.navbar-nav > li > a {
  color: black;
  text-transform: uppercase;
  padding: 0;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 25px;
  font-weight: bold;
}
.nav > li > a:focus,
.nav > li > a:hover {
  border-bottom: 3px solid orange;
  color: black;
  background-color: transparent;
}
