.forUs {
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  color: black;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-weight: bold;
  font-size: 3em;
}
.golemina {
  width: 100%;
  height: 100%;
  display: block;
}
.border {
  border: 1px solid gray;
  padding: 0;
  height: 500px;
  margin: 1rem;
  width: 370px;
}
