.footerFirstRow {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(238, 238, 238);
  border-top: 2px solid rgb(221, 220, 220);
}
.padding10 {
  padding: 10px;
}
.paddingBottom10 {
  padding-bottom: 10px;
}
.font-weight-bold {
  font-weight: bold;
}
.cursorPointer {
  cursor: pointer;
}
.colorInherit {
  color: inherit !important;
}
.paddingBandL10 {
  padding-bottom: 10px;
  padding-left: 10px;
}
.blockMargin {
  margin: 0px;
  text-align: center;
  padding: 10px;
  background-color: rgb(228, 227, 227);
  font-weight: bold;
  font-size: 12px;
}
.fa {
  height: 50px;
  width: 50px;
}
a {
  background-color: transparent;
}
.linked {
  display: inline;
  padding: 10px;
  font-size: 30px;
  color: #0e76a8;
}
.instagram {
  display: inline;
  padding: 10px;
  font-size: 30px;
  color: #e95950;
}
.fb {
  display: inline;
  padding: 10px;
  font-size: 30px;
  color: #3b5998;
}
.martingTop20 {
  margin-top: 20px;
}
.verticalAlign {
  display: flex;
  align-items: center;
}
.fontSize35em {
  font-size: 3.5em;
}
.marginTop70 {
  margin-top: 70px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.font-weight-bold {
  font-weight: bold;
}
