.button_wrapper {
  position: relative;
  z-index: 1;
  color: orange;
  border: "3 solid black";
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 200px;
}
input {
  width: 400px;
  height: 30px;
  font-style: italic;
}
label {
  margin-bottom: 10px;
  font-weight: "bold";
}
textarea {
  width: "400px";
  height: 100px;
  font-style: italic;
}
.button_close {
  border: none;
  background-color: white;
  font-weight: bold;
  margin-left: 35%;
  margin-top: 10px;
  border-radius: none;
}
.button_join {
  float: right;
  background-color: black;
  color: #fcd132;
  border: 3px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}
